*{
    font-family: Helvetica, sans-serif;
}
html, body{
    cursor: none;
    background-color: #003333;
}
#circularCursor{
    background-color: transparent;
    border:2px solid #CCFFCC;
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
}

.moon{
    position: relative;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: -20px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: -7px 2px 0 4px rgb(255, 102, 153);
    transform: rotate(-10deg);
    padding: 20px;
}
.logo-text{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: #FF6699;
    letter-spacing: 5px;
}
.contact{
    margin-top: 10px;
    background-color: #CCFFCC;
    border-radius: 30px;
    color: #FF6699;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    cursor: none;
}
.contact:hover{
    color: #003333;
    background-color: #FF6699;
    box-shadow: 0  2px 30px #CCFFCC;
    cursor: none;
}
.login{
    margin-top: 10px;
    background-color: #CCFFCC;
    border-radius: 30px;
    color: #FF6699;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    cursor: none;
}
.login:hover{
    color: #003333;
    background-color: #FF6699;
    box-shadow: 0  2px 30px #CCFFCC;
    cursor: none;
}
.signup{
    margin-top: 10px;
    background-color: #FF6699;
    border-radius: 30px;
    color: #003333;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    cursor: none;
}
.signup:hover{
    color: #003333;
    background-color: #CCFFCC;
    box-shadow: 0  2px 30px #CCFFCC;
    cursor: none;
}
.slogan{
    color: #CCFFCC;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
    padding-top: 120px;
}
p{
    font-family: Helvetica, serif;
}
.section-two{
    padding-top: 130px;
    background-color: #CCFFCC;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*DARK MODE(LIGHT MODE) CSS*/
.dark-mode-moon{
    box-shadow: -7px 2px 0 4px #003333 !important;
}
.dark-mode {
    background: linear-gradient(#CCFFCC, #FFFFFF);
    height: 100%;
    color: #003333;!important;
}
.dark-cursor{
    background-color: transparent;
    border:2px solid #003333;!important;
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 1;
}
.logo-text-dark{
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    color: #003333;
}
.contact-dark{
    margin-top: 10px;
    background-color: #003333;
    border-radius: 30px;
    color: #CCCC66;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    box-shadow: 2px 5px 10px #003333;
    cursor: none;
}
.contact-dark:hover{
    color: #FF6699;
    background-color: #CCFFCC;
    box-shadow: 0  2px 30px #FF6699;
    cursor: none;
}
.login-dark{
    margin-top: 10px;
    background-color: #003333;
    border-radius: 30px;
    color: #CCCC66;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    box-shadow: 2px 5px 10px #003333;
    cursor: none;
}
.login-dark:hover{
    color: #FF6699;
    background-color: #CCFFCC;
    box-shadow: 0  2px 30px #FF6699;
    cursor: none;
}
.signup-dark{
    margin-top: 10px;
    background-color: #003333;
    border-radius: 30px;
    color: #CCCC66;
    font-weight: bold;
    width: 150px;
    height: 40px;
    letter-spacing: 5px;
    box-shadow: 2px 5px 10px #003333;
    cursor: none;
}
.signup-dark:hover{
    color: #FF6699;
    background-color: #CCFFCC;
    box-shadow: 0  2px 30px #FF6699;
    cursor: none;
}
.slogan-dark{
    color: #003333;
}
.section-two-dark{
    background-color: transparent;
}
/*CSS CODE FOR REAL ESTATE CARDS DISPLAY*/

.container .box {
    width: calc((100% / 3) - 20px);
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}

.container .box .top {
    position: relative;
    background-color: red;
}

.container .box .top:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(23, 82, 75, 0.83);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.container .box .top:hover:before {
    opacity: 1;
}

.container .box .top:after {
    content: "View Property";
    color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}

.container .box .top:hover:after {
    opacity: 1;
}

.container .box .top img {
    width: 100%;
    margin-bottom: -4px;
}

.container .box .top span {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: white;
    font-size: 20px;
}

.container .box .top span i {
    margin-left: 5px;
}

.container .box .bottom {
    padding: 20px 15px;
    position: relative;
}

.container .box:not(:last-of-type) .bottom:before {
    content: "Hot";
    background-color: #FF6699;
    color: white;
    font-size: 11px;
    padding: 4px 7px;
    position: absolute;
    left: 20px;
    top: -40px;
    z-index: 1;
}

.container .box .bottom h3 {
    font-size: 15px;
}

.container .box .bottom > p {
    margin: 15px 0;
    font-size: 13px;
    line-height: 1.4;
    color: #777;
}

.container .box .bottom .advants {
    display: flex;
}

.container .box .bottom .advants > div {
    margin-right: 15px;
}

.container .box .bottom .advants > div > span {
    font-weight: bold;
    font-size: 12px;
}

.container .box .bottom .advants > div > div {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.container .box .bottom .advants > div > div i {
    color: #777;
    font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.container .box .bottom .advants > div > div > span > span {
    color: #777;
    font-weight: normal;
    margin-left: 5px;
}

.container .box .bottom .price {
    margin-top: 20px;
}

.container .box .bottom .price span:first-of-type {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.container .box .bottom .price span:last-of-type {
    color: #003333;
    font-size: 22px;
}
/*FOOTER CSS*/
.footer-clean {
    padding:50px 0;
    background-color: #CCFFCC;
    color:#4b4c4d;
}

.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-clean ul a:hover {
    opacity:1;
}

.footer-clean .item.social {
    text-align:right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
}

.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}

.footer-clean .item.social > a:hover {
    opacity:0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social > a {
        margin-top:40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social > a {
        margin-top:10px;
    }
}

.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
